@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.jumbotron {
    color: deeppink;
    background-color: black;
    text-align: center;
}


.navbar-default .navbar-brand {
    color: yellow;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}